@import "vars";

.nav-container {
  background: linear-gradient(to right,  rgba($color: $network-blue, $alpha: 1), rgba($color: $network-blue, $alpha: 0));
  // background: rgba($color: $network-blue, $alpha: 0.5) ;
  color: white;

  a,
  .material-icons {
    color: white;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  .navbar-nav a {
    margin-right: 15px;
  }

  .navbar-nav a:last-child {
    margin-right: 0px;
  }
}
